<div id="newcomment">
	<% if current_user %>
		
	<h3>New comment</h3>




	<% form_for(@newRoutecomment) do |f| %>
	<%= f.error_messages %>

	<fieldset>
		<input id="routecomment_route_id" name="routecomment[route_id]" type="hidden" value="<%=@route_id%>" />

		<ul>
			<li>
				<%= f.text_area :comment %>
			</li>

			<li class="button">
				<%= f.submit 'Create' %>
			</li>
		</ul>

	</fieldset>
	<% end %>
	<% else %>
	<p>
		Login and start adding comments to this route
	</p>

	<% end %>

</div>
