<% title "Search Route" %>

<p>
  <strong>Keywords:</strong>
  <%=h @search_route.keywords %>
</p>
<p>
  <strong>Place Name:</strong>
  <%=h @search_route.place_name %>
</p>
<p>
  <strong>Country:</strong>
  <%=h @search_route.country %>
</p>

<p>
</p>
