<% title "Search Route" %>

<p>
  <strong>Keyworkds:</strong>
  <%=h @search_route.keyworkds %>
</p>
<p>
  <strong>Place Name:</strong>
  <%=h @search_route.place_name %>
</p>
<p>
  <strong>Country:</strong>
  <%=h @search_route.country %>
</p>

<p>
</p>
