* {
	margin: 0;
	padding: 0;
	font-size: 100%;
}

ul, ol {
	list-style: none;
}


body {
	margin: 0em;
	background-color: #EFF3FE;

}


#header {
	text-align:center;
	background-image:url(/images/header_pixel3.png);
	background-repeat: x-repeat;
	height: 99px;
}

#container {
	padding: 10px 15px 10px 20px;
}

#footer {
	clear:both;
	padding: 20px;
	background-color: #E5FFDE;
	text-align:center;
	height: 80px;
}

h1 {
	color: #004500;
	font:italic bold 35px/2em Georgia,serif;
	margin: 1.5em 0.5em 1em 0.75em;
}

h2 {
	color: #3B2910;
	font:italic bold 25px/2em Georgia,serif;
	margin: 0.5em 0.5em 0.5em 0.5em;
}


.notice {
	color: green;
	float:right;
	border: dotted 2px #2F5FF2;
}

table {
	border-collapse:collapse;
	margin: 0 0 2em 1.5em;
}

table,th, td {
	border: 1px solid green;
	padding: 0.5em;
	text-align:center;
}

#welcome {
	height:150px;
	width: 550px;
	float: right;
}

#summary {
	width: 30em;
	position: absolute;
	margin: -3em 0em 0 42em;
	border: solid 1px;
	padding: 0em;
	border:solid 2px #9DEE96;
}

#summary p {
	margin: 0 0.5em 0.15em 0.5em;
	padding: 0.75em;
	background: #CCFFE0;
}

#comeback_links {
	margin: 10px;
}

/*********** USER PROFILE *********/

#user_profile {
	width: 300px;
	margin-left: 200px;
	padding: 0em;
	background-color: #ffd;
	border: 1px solid #fc0;
}

#user_profile p {
	padding: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
}

/*********** LOGIN ****************/

#log_in {
	width:227px;
	height:97px;
	float: right;
	margin: -53px 20px 0 0;
	padding: 0em 0 10px 15px;
	background-image:url(/images/login_06.png);
	background-repeat:no-repeat;
	color: #F3F8F5;
	font-size:90%;
	/*	border: solid 3px #CCCCCC; */
}

#log_in input { 
	width: 6em;
	height: 1.0em;
	margin: 0.15em 0.25em 0.15em 0.25em;

}

#log_in p {
	margin: 0.25em 0.25em 0.1em 0.75em;
}


#remember_me label {
	margin-left: -5em;
}


.login_class {
	float:left;
	margin: 0.2em 0em 0em 0.5em;
}

#link_new_user{
	float:left;
	margin: 0.5em 0em 1em 0.5em;
}

#button_login {
	margin: -0.75em 1em 1em 0em !important;
	float: right !important;
}


/********** BUTTONS *************/

.clear { /* generic container (i.e. div) for floating buttons */
	overflow: hidden;
	width: 100%;
}

.button {

	font: normal 12px arial, sans-serif;
	height: 1.8em;
	width: 5em;
	/*  padding: 0.25em 0.5em 0.75em 0.5em; */


}

.button span {
	display: block;
	line-height: 14px;
	padding: 0em 0.5em 0em 0.5em; 
}

.button:active {
	color: #000;
	outline: none; /* hide dotted outline in Firefox */
}

.button:active span {
	padding: 0.15em 0.5em 0em 0.5em; /* NO FUNCIONA */
}


/******** FORMS *********/
.texta { 
	font-size: 20px; 
	background-color: #CCCCCC; 
	border: 1px solid #666666; 
}

.fieldarea, .texta { 
	font-size: 20px; 
	background-color: #CCCCCC; 
	border: 1px solid #666666; 
	float:right;
}

#form_fields p {
	margin: 0.5em 10em 1.25em 0;
}

#form_fields {
	margin: 0.25em 20em 1.25em 10em;
	padding: 2.5em 2em 2em 2em;
	border:solid 2px #9DEE96;
	background: #CCFFE0;
}


/**** SEARCH FORM*****/

#title_tab_places{
	margin: 15px 0 0 30px;
	float:left;
	color: #FFFFFF;
}

#title_tab_routes{
	margin: 15px 0 0 30px;
	float:left;
	color: #FFFFFF;
}


.example {
	margin: -0.65em 0 0 6.5em;
	font-size:85%;
}

.search_button{
	margin: -1em 0 0 18em;
}

.options_search {
	margin: 0.5em;
	margin-left: 4em;
}

.search_form {
	width: 441px;
	height: 225px;
	background-image:url(/images/search_form5.png);
	background-repeat:no-repeat;	
	color: #B2A100;
	/*	border: dotted 3px; */
}

.content-search {
	padding: 45px 20px 20px 30px;
}

.content-search p {
	padding: 8px;
}



/***** Search form small ****/ 

.search_form_small{
	width: 583px;
	height: 127px;
	background-image:url(/images/search_form_small1.png);
	background-repeat:no-repeat;
	color: #B2A100; 
}

#title_tab_places_small{
	margin: 8px 0 0 40px;
	float:left;
	color: #FFFFFF;
}

#title_tab_routes_small{
	margin: 8px 0 0 40px;
	float:left;
	color: #FFFFFF;
}

.content-search_small{
	padding: 20px 20px 20px 30px;
}

.content-search_small p {
	padding: 8px;
}

.search_class_small{  /*****/
}

.search_button_small{
	margin: -1.75em 0 0 28em;
}

.example_small {
	margin: 0em 0 0 7em;
	font-size:75%;
}



#map {
	width: 640px;
	height: 480px;
}