* {
	margin: 0;
	padding: 0;
	font-size: 100%;
}

ul, ol {
	list-style: none;
}


body {
	margin: 0em;
	background-color: #EFF3FE;
}


#header {
	padding: 0em 0em 5em 0em;
	/*	background-color: #4B7C00; */
	text-align:center;
	background-image:url('/images/header_pixel3.png');
	background-repeat: x-repeat;
}

#container {
	padding: 0em 1em 1em 1.5em;
}

#footer {
	padding: 0em 0em 5em 0em;
	background-color: #E5FFDE;
	text-align:center;
	position:inline;
	margin: 5em 0 0 0;
}

h1 {
	color: #004500;
	font:italic bold 35px/2em Georgia,serif;
	margin: 1.5em 0.5em 1em 0.75em;
}

h2 {
	color: #3B2910;
	font:italic bold 25px/2em Georgia,serif;
	margin: 0.5em 0.5em 0.5em 0.5em;
}


.notice {
	color: green;
	position: relative;
	float:right;
	margin: 5em -14em 1em 0em;
	border: dotted 2px #2F5FF2;
}

table {
	border-collapse:collapse;
	margin: 0 0 2em 1.5em;
}

table,th, td {
	border: 1px solid green;
	padding: 0.5em;
	text-align:center;
}

#summary {
	width: 30em;
	position: absolute;
	margin: -3em 0em 0 42em;
	border: solid 1px;
	padding: 0em;
	border:solid 2px #9DEE96;
}

#summary p {
	margin: 0 0.5em 0.15em 0.5em;
	padding: 0.75em;
	background: #CCFFE0;
}

#comeback_links {
	border: dotted 0.1em green;
	position: absolute;
	margin: 1em;
}


/*********** LOGIN ****************/

#log_in input { 
	width: 6em;
	height: 1.0em;
	margin: 0.15em 0.25em 0.15em 0.25em;
	
}

#log_in p {
	margin: 0.25em 0.25em 0.1em 0.75em;
}


#remember_me label {
	margin-left: -5em;
}

#log_in {
	width:227px;
	height:97px;
	position:absolute;
	margin: -3em 0 0 66em;
	padding: 0em 0 0.5em 0.25em;
	background-image:url('/images/login_06.png');
	background-repeat:no-repeat;
	color: #F3F8F5;
	font-size:90%;
/*	border: solid 3px #CCCCCC; */

}

.login_class {
	float:left;
	margin: 0.2em 0em 0em 0.5em;
}

#link_new_user{
	float:left;
	margin: 0.5em 0em 1em 0.5em;
}

#button_login {
	margin: -0.75em 1em 1em 0em !important;
	float: right !important;
}


/********** BUTTONS *************/

.clear { /* generic container (i.e. div) for floating buttons */
	overflow: hidden;
	width: 100%;
}

.button {

	font: normal 12px arial, sans-serif;
	height: 1.8em;
	width: 5em;
	/*  padding: 0.25em 0.5em 0.75em 0.5em; */


}

.button span {
	display: block;
	line-height: 14px;
	padding: 0em 0.5em 0em 0.5em; 
}

.button:active {
	color: #000;
	outline: none; /* hide dotted outline in Firefox */
}

.button:active span {
	padding: 0.15em 0.5em 0em 0.5em; /* NO FUNCIONA */
}


/******** FORMS *********/
.texta { 
	font-size: 20px; 
	background-color: #CCCCCC; 
	border: 1px solid #666666; 
}

.fieldarea, .texta { 
	font-size: 20px; 
	background-color: #CCCCCC; 
	border: 1px solid #666666; 
	float:right;
}

#form_fields p {
	margin: 0.5em 10em 1.25em 0;
}

#form_fields {
	margin: 0.25em 20em 1.25em 10em;
	padding: 2.5em 2em 2em 2em;
	border:solid 2px #9DEE96;
	background: #CCFFE0;
	

}


/**** SEARCH FORM*****/


#title_tab_places{
	margin: 0em 0 0 0em;
	padding: 0.5em 2.75em 0.5em 2.75em;
	float:left;
	color: #FFFFFF;
}

#title_tab_routes{
	margin: 0em 0 0 0em;
	padding: 0.5em 2.75em 0.5em 2.75em;
	float:left;
	color: #FFFFFF;
	/*	border: dotted 1px; */
}

.example {
	margin: -0.65em 0 0 6.5em;
	font-size:85%;
}

.search_button{
	margin: -1em 0 0 18em;
}

.options_search {
	margin: 0.5em;
	margin-left: 4em;
}

.search_form {
	margin: 10.5em 0.5em 0.5em 0.5em;
	padding: 3em 1em 2em 2em;
	position:inline;
	margin: 1em;
	background-image:url('/images/search_form5.png');
	background-repeat:no-repeat;
	color: #B2A100;
	/*	border: dotted 3px; */
}


.search_class{
	padding: 0.75em 0.5em 0.5em 0.5em;
}



/***** Search form small ****/ 


.search_class_small{
	position:inline;
	/*	padding: 0.2em 0.5em 0.5em 0.5em;*/
}

.search_form_small{
/*	margin: 10.5em 0.5em 0.5em 0.5em;*/
padding: 2.5em 1em 2em 2em;
position:inline;
margin: 1em 0 0 0em;
background-image:url('/images/search_form_small1.png');
background-repeat:no-repeat;
color: #B2A100; 
}

.search_button_small{
	margin: -1.75em 0 0 28em;
}

.example_small {
	margin: 0em 0 0 7em;
	font-size:75%;
}
