* {
	margin: 0;
	padding: 0;
	font-size: 100%;
}

fieldset, img {
	border: none;
}

ul, ol {
	list-style: none;
}


body {
	margin: 0em;
	background-color: #EFF3FE;

}


#header {
	text-align:center;
	background-image:url(/images/header_pixel3.png);
	background-repeat: x-repeat;
	height: 99px;
}

#aheader {
	display: block;
	width: 100%;
	height: 100%;
	text-decoration:none;
	color: #3D2709;
	font-size: 350%;
	padding: 20px;
	text-shadow: 0 0 0.3em white, 0 0 0.4em white, 0 0 0.6em green;
}



#container {
	padding: 0 15px 10px 20px;
}

#footer {
	clear:both;
	padding: 20px;
	color: #E5FFDE;
	text-align:center;
	background-image:url(/images/footer.png);
	background-repeat: x-repeat;
	height: 60px;
	font: italic 80% Georgia,serif;
}

#content {
	clear:both;
}


h1 {
	color: #004500;
	font:italic bold 35px/2em Georgia,serif;
	margin: 20px 5px 20px 30px;
}

h2 {
	color: #3B2910;
	font:italic bold 25px/2em Georgia,serif;
	margin: 30px auto 10px 30px;
}


table {
	border-collapse:collapse;
	margin: 0 0 2em 1.5em;
}

table,th, td {
	border: 1px solid green;
	padding: 0.5em;
	text-align:center;
}

#welcome {
	width: 525px;
	float: right;
	margin: 20px 110px auto auto;
	clear:both;
}

#welcome h1 {
	margin: 10px;
}



#summary {
	width: 500px;
	float: right;
	margin: 0 20px 0 0;
	border:solid 2px #9DEE96;
	background: #CCFFE0;
}

#summary p {
	margin: 0 10px 5px 10px;
	padding: 9px;
}

#summary div {
	margin: -10px auto 10px 20px;
}

#summary .routepoints {
	margin: 0 10px 5px 20px;
	padding: 2px;
}

#addplace{
	float: right;
	margin: 10px 50px auto auto !important;
}

.ratings {
	margin: 20px ;
	clear: left;
}

.edit_links {
	clear: both;
	margin: 10px;
}

#comeback_links {
	clear: both;
	margin: 5px auto 30px 300px;
	float: left;
}

#register_link {
	margin: 62px auto auto 5px;
}


.notices {
	float:right;
	font-size:90%;
	color: green;
	margin: 5px 20px 0 0;
}



/* The error box */
.fieldWithErrors {
padding: 2px;
background-color: green;
display: table;
margin: 10px auto auto 60px;
}
#errorExplanation {
width: 400px;
border: 2px solid green;
padding: 7px;
padding-bottom: 12px;
margin: 10px auto 20px 60px;
background-color: #f0f0f0 ;
}
#errorExplanation h2 {
text-align: left;
font-weight: bold;
padding: 5px 5px 5px 15px;
font-size: 12px;
margin: -7px;
background-color: green ;
color: #fff ;
}
#errorExplanation p {
color: #333 ;
margin-bottom: 0;
padding: 5px;
}
#errorExplanation ul li {
font-size: 82%;
list-style: square;
margin: auto auto 8px 30px;
color: green;
}


/*********** LOGIN ****************/

#log_in, #user_nav_logged {
	width:227px;
	height:97px;
	float: right;
	margin-top: -8px;	
	padding: 5px 0 10px 15px;
	background-image:url(/images/login_06.png);
	background-repeat:no-repeat;
	color: #F3F8F5;
	font-size:90%;
	/*	border: solid 3px #CCCCCC; */
}

#user_nav_logged p {
	padding: 8px;
}

#log_in input { 
	width: 100px;
	height: 12px;
}



#remember_me label{
	margin: 5px auto auto auto;
	float: right;
	font-size:87%;
}

#remember_me input{
	clear:both;
	width: 20px;
	float: right;
	margin: 5px 40px auto auto;
}


.login_class {
	float:right;
	margin: 0 40px 0 0;
}

.button_login {
	clear:both;
	margin: 6px 35px 0 0 !important;
	float: right !important;
	height: 20px !important;
	width: 60px !important;
	font: normal 12px arial, sans-serif;
}

#comments {
	clear:left;
	padding: 20px 0 0 0;
}

#comments .comment {
	background-color: #FFFFF0;
	border: 1px solid #FFE899;
	height: auto;
	width: 640px;
	margin-top: -1px;
	padding: 5px;
}

#comments .user_comment{
	color: #004500;
	font:italic bold 100% Georgia,serif;
	margin: 5px;
}

#comments .date_comment {
	color: #004500;
	font:italic 80% Georgia,serif;
	text-align: right;
	margin: -15px 10px 10px auto;
}

#comments .links_comment {
	margin: -10px 10px auto auto;
	text-align: right;
}

#newcomment {
	margin: 10px;
	margin-top: 20px;
}
#newcomment #routecomment_comment, #newcomment #placecomment_comment {
	height: 50px;
	width: 640px;
}

/********** BUTTONS *************/

.clear { /* generic container (i.e. div) for floating buttons */
	overflow: hidden;
	width: 100%;
}

.button {
	font: normal 12px arial, sans-serif;
}

.aaaabutton span {
	display: block;
	line-height: 14px;
	padding: 0em 0.5em 0em 0.5em; 
}

.aaaaabutton:active {
	color: #000;
	outline: none; /* hide dotted outline in Firefox */
}

.aaaaaabutton:active span {
	padding: 0.15em 0.5em 0em 0.5em; /* NO FUNCIONA */
}



/******** FORMS *********/

#newcomment label {
	display: block;
}

#show_user_fields {
	width: 350px;
	margin-left: 200px;
	background-color: #FFFFF0;
	border: 1px solid #FFE899;
	padding: 10px;
}


#show_user_fields p {
	padding: 10px;
}

#form_fields {
	margin: 0 0 20px 300px;
	padding: 20px 20px 20px 20px;
	border:solid 2px #9DEE96;
	background: #CCFFE0;
	float: left;
	width: 550px;
}


#form_fields p, #form_fields h3 {
	margin: 20px;
}

#route_description, #place_description { 
	height: 115px !important;
	width: 325px !important;
}

.texta { 
	height: 70px !important;
	width: 320px !important;
}

.fieldarea, .texta { 
	font-size: 100%; 
	float:right;
}


/**** SEARCH FORM*****/

#title_tab_places{
	margin: 15px 0 0 30px;
	float:left;
	color: #FFFFFF;
}

#title_tab_routes{
	margin: 15px 0 0 30px;
	float:left;
	color: #FFFFFF;
}


.example {
	margin: -0.65em 0 0 6.5em;
	font-size:85%;
}

.search_button{
	float:right;
	margin: -20px 0 0 0;
}

.options_search {
	margin: 0.5em;
	margin-left: 4em;
}

.search_form {
	width: 441px;
	height: 225px;
	margin: 0 0 0 30px;
	background-image:url(/images/search_form5.png);
	background-repeat:no-repeat;	
	color: #B2A100;
	/*	border: dotted 3px; */
}

.content-search {
	margin-top: 10px;
	padding: 45px 20px 20px 30px;
}

.content-search p {
	padding: 8px;
}



/***** Search form small ****/ 

.search_form_small{
	margin: 0 0 0 30px;
	width: 583px;
	height: 127px;
	background-image:url(/images/search_form_small1.png);
	background-repeat:no-repeat;
	color: #B2A100; 
}

#title_tab_places_small{
	margin: 8px 0 0 40px;
	float:left;
	color: #FFFFFF;
}

#title_tab_routes_small{
	margin: 8px 0 0 40px;
	float:left;
	color: #FFFFFF;
}

.content-search_small{
	margin-top: 60px;
	padding: 30px 20px 10px 30px;
	font-size:95%;
}

.content-search_small p {
	padding: 8px;
}

.content-search_small #country_id_route, .content-search_small #keywords_route {
	font-size:85%;
}

.search_button_small{
	margin: -30px 20px 0 0;
	float:right;
}

.example_small {
	margin: 0em 0 0 7em;
	font-size:75%;
}


#map_canvas {
	width: 640px;
	height: 480px;
	float: left;
}

fieldset #map_canvas {
/*	display: none; */
	width: 300px; 
	height: 300px;
	margin: auto auto 10px 10px;
}

#directionsPanel {
	width: 200px;
	height: 480px;
	float:left;
	overflow: auto;
}

#showlocation {
	
}

.prueba {
	border: 1px solid #9DD999 !important;
	margin: 20px;
}

.prueba legend {
	font-size:90%;
}



