<h1>Register</h1>

<div id="form_fields">
	<% form_for @user, :url => account_path do |f| %>
	<%= f.error_messages %>

	<%= render :partial => "form", :object => f %>
	
	<p>
	<%= f.submit "Register" %>
	</p>
	<% end %>

</div>
