
		<div id="container">
			<div id="search">
				<h1>What Are You Looking For?</h1>
				<p>(aquí irá el formulario de buscar rutas)</p>
			</div>

			<div id="intro">
				<h2>Welcome</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus a mauris lectus. In eget ante vitae nisi varius varius. Fusce urna ipsum, semper et mattis id, porttitor et enim. Vivamus augue urna, pretium hendrerit tempor quis, dapibus sit amet lacus. Cras in magna neque, at gravida metus. Integer quis dui ac odio condimentum ullamcorper sed eget lectus.</p>
			</div>

			<div id="login">
				<a href="#">Log In</a>
				<a href="#">Create new user</a>
			</div>

