<h1>Listing favoriteroutes</h1>

<table>
  <tr>
  </tr>

<% @favoriteroutes.each do |favoriteroute| %>
  <tr>
    <td><%= link_to 'Show', favoriteroute %></td>
    <td><%= link_to 'Edit', edit_favoriteroute_path(favoriteroute) %></td>
    <td><%= link_to 'Destroy', favoriteroute, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New favoriteroute', new_favoriteroute_path %>