<h2>What Are You Looking For?</h2>
<%= render(:partial => "/application/search_route") %>


<%= render(:partial => "list") %>

<%= link_to 'New route', new_route_path %> |
<%= link_to 'Back', root_path %>

