<%= render :partial => "user_sessions/login", :locals =>{ :user_session => @user_session } %>

<div id="welcome">
	<h1>Welcome to RouteFinder!!</h1>
	<p>In this website you will find a helpful tool to search routes and places! You will be able to plan better your holidays route and also create new others and share them with other users.
	</p>
	<p>If you are registered, log in and start to rank, comment and add routes and places. If you don't have your account, sign in! It's free :) 
	</p>
</div>

<h2>What Are You Looking For?</h2>

<%= render(:partial => "search_route") %>

<%= render(:partial => "search_place") %>

