<h1>Listing favoriteplaces</h1>


<% if @favoriteplaces.empty? %>
<p>No favorite places.</p>

<% else%>

<table>
	<tr>
		<th>Place Name:</th>
	</tr>

	<% @favoriteplaces.each do |favoriteplace| %>
	<tr>
		<td><%=h favoriteplace.place.name %></td>
		<td><%= link_to 'Destroy', favoriteplace, :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
	<% end %>
</table>

<% end %>
