<h2>Your favorite places</h2>


<% if @favoriteplaces.empty? %>
<p>No favorite places.</p>

<% else%>
<% if @favoriteplaces %>

<table>
	<tr>
		<th>Place Name:</th>
	</tr>

	<% @favoriteplaces.each do |favoriteplace| %>
	<tr>
		<td><a href="<%=place_path(favoriteplace.place)%>"><%=h favoriteplace.place.name %></a></td>
		<td><%= link_to 'Destroy', favoriteplace, :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
	<% end %>
</table>

<% end %>

<% end %>
