

<% form_for(@newFavoriteplace) do |f| %>
<%= f.error_messages %>
<fieldset>
	<input id="favoriteplace_place_id" name="favoriteplace[place_id]" type="hidden" value="<%=@place_id%>" />

	<p class="button">
		<%= f.submit 'Add' %>
	</p>
</fieldset>
<% end %>
