<h3>Add place to route</h3>

<% form_for(@routepoint) do |f| %>
  <%= f.error_messages %>

<p class="button">
	<%=@routes = Route.find(:all, :order => "name") 
	f.collection_select(:route_id, @routes, :id, :name) %>
    <%= f.submit 'Add to route' %>
  </p>
<% end %>
