<div id="content2">
	<h2>What Are You Looking For?</h2>
	<%= render(:partial => "/application/search_place") %>

	<%= render(:partial => "list") %>


	<p id="comeback_links">
	<%= link_to 'Create new place', new_place_path %> |
	<%= link_to 'Back', root_path %>
	</p>
	
</div>