<h2>What Are You Looking For?</h2>
<%= render(:partial => "/application/search_place") %>

<%= render(:partial => "list") %>

<%= link_to 'New Place', new_place_path %> |
<%= link_to 'Back', root_path %>
