<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="autor" content="helenatxu" />
	<title>RouteFinder | Places: <%= controller.action_name %></title>
	<%= stylesheet_link_tag 'routerfinder' %>

</head>

<body>

	<p style="color: green"><%= notice %></p>
	<p style="color: green">HOLA</p>


	<div id="container">
		<div id="search_home">
			<h1>What Are You Looking For?</h1>
			<p>(aquí irá el formulario de buscar rutas)</p>
			
			





		</div>

		<div id="login">
			<a href="#">Log In</a>
			<a href="#">Create new user</a>
		</div>


		<%= yield %>

	</div>
	<div id="footer">
		<p>RouteFinder 2010.  Helena Moreno Chacón</p>
	</div>

</body>
</html>
