
<div id="map">

		<p>(aquí MAPA de GoogleMaps)</p>

		<a href="#">Rank this Route/Place</a>
		<a href="#">Add to My Favorites</a>

		<h3>Comments:</h3>

		<p>(Generar y mostrar lista de comentarios)</p>
		<p>(Generar y mostrar lista de comentarios)</p>
		<p>(Generar y mostrar lista de comentarios)</p>
		<p>(Generar y mostrar lista de comentarios)</p>

	</div>

	<div id="ficha">
		<h2>Route/Place Summary</h2>
		<p>Name: .......</p>
		<p>Date: ../../....</p>
		<p>Description: ....................................................... </p>
		<p>Points</p>
		<p>(desplegable o lista de los puntos por donde pasa)</p>
		<p>Distance: ..... km</p>
		<p>Countries:</p>
		<p>Rank: -----</p>
		<p>Related Events</p>
		<p>Fotos:</p>
	</div>

</div>

<div id="footer">
	<p>(Algo en el Footer) RouteFinder 2010</p>
</div>

</body>
</html>
